<!--NAV-->
<div class="customNavbar">
    <div><a href="/#homepage"><img src="..\assets\images\logo.svg" alt="" class="logo"></a>
    </div>
    <!--Desktop Menu-->
    <div class="menuDesktop">
        <a href="/#about" class="burgerMenuOpenLink">About me</a>
        <a href="/#skills" class="burgerMenuOpenLink">My skills</a>
        <a href="/#projects" class="burgerMenuOpenLink">My projects</a>
    </div>
    <!--Mobile Menu burger-->
    <div (click)="openMenu()" class="burgerMenu" [ngClass]="{burgerMenuContentActive : isActive}">
        <span class="burgerMenu-content"></span>
    </div>
</div>
<div class="burgerMenuClosed" [ngClass]="{burgerMenuOpen : isActive}">
    <a href="/#about" class="burgerMenuOpenLink">About me</a>
    <a href="/#skills" class="burgerMenuOpenLink">My skills</a>
    <a href="/#projects" class="burgerMenuOpenLink">My projects</a>
    <div class="burgerMenuOpenWhite"></div>
</div>
