<div class="content">
  <div class="grid">
    <div class="presentation">
      <div data-aos="fade-right" data-aos-duration="2000" class="background">
        <img src="..\assets\images\background dev.svg" alt="" />
      </div>
      <div class="title">
        <h1 data-aos="fade-down" data-aos-duration="2000" >
          Hello,<br />
          I'm Boudjemai Karim,<br />
          Developper Web
        </h1>
      </div>
    </div>
    <div class="arrow">
      <a routerLink="/about" class="burgerMenuOpenLink">
        <img src="..\assets\images\arrow bottom.svg" alt="" />
      </a>
    </div>
  </div>
</div>
