<div class="content">
  <div data-aos="fade-down" class="title">
    <h1>My skills :</h1>
  </div>
  <div class="display">
    <div data-aos="fade-up" data-aos-duration="2000" id="gallery">
      <figure id="spinner">
        <img src="..\assets\images\Angular.svg" alt />
        <img src="..\assets\images\css.svg" alt />
        <img src="..\assets\images\figma.svg" alt />
        <img src="..\assets\images\git.svg" alt />
        <img src="..\assets\images\gtihub.svg" alt />
        <img src="..\assets\images\html.svg" alt />
        <img src="..\assets\images\Java.svg" alt />
        <img src="..\assets\images\Javascript.svg" alt />
      </figure>
    </div>
  </div>
  <div class="progress_all">
    <div class="bar">
      <img src="..\assets\images\Angular.svg" alt="" />
      <div class="progress">
        <div class="progress__barOne"></div>
      </div>
    </div>
    <div class="bar">
      <img src="..\assets\images\css.svg" alt="" />
      <div class="progress">
        <div class="progress__barTwo"></div>
      </div>
    </div>
    <div class="bar">
      <img src="..\assets\images\figma.svg" alt="" />
      <div class="progress">
        <div class="progress__barThree"></div>
      </div>
    </div>
    <div class="bar">
      <img src="..\assets\images\git.svg" alt="" />
      <div class="progress">
        <div class="progress__barFour"></div>
      </div>
    </div>
    <div class="bar">
      <img src="..\assets\images\gtihub.svg" alt="" />
      <div class="progress">
        <div class="progress__barFive"></div>
      </div>
    </div>
    <div class="bar">
      <img src="..\assets\images\html.svg" alt="" />
      <div class="progress">
        <div class="progress__barSix"></div>
      </div>
    </div>
    <div class="bar">
      <img src="..\assets\images\Java.svg" alt="" />
      <div class="progress">
        <div class="progress__barSeven"></div>
      </div>
    </div>
    <div class="bar">
      <img src="..\assets\images\Javascript.svg" alt="" />
      <div class="progress">
        <div class="progress__barEight"></div>
      </div>
    </div>
  </div>
</div>
